#//////////////////////////////////////////////////////////////#
#                             YARN                             #
#//////////////////////////////////////////////////////////////#
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Swap the comments on the following lines if you don't wish to use zero-installs
# 📖 -> https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

#//////////////////////////////////////////////////////////////#
#                             NEXT                             #
#//////////////////////////////////////////////////////////////#
.next

#//////////////////////////////////////////////////////////////#
#                              ESLINT                          #
#//////////////////////////////////////////////////////////////#
.eslintcache

#//////////////////////////////////////////////////////////////#
#                           TYPESCRIPT                         #
#//////////////////////////////////////////////////////////////#
tsconfig.tsbuildinfo

#//////////////////////////////////////////////////////////////#
#                           GENERATED                          #
#//////////////////////////////////////////////////////////////#
dist
generated

#//////////////////////////////////////////////////////////////#
#                             LOGS                             #
#//////////////////////////////////////////////////////////////#
*.log
